{% extends "base.html" %}
{% load bootstrap5 %}


{% block header %}
    <h3>Login</h3>
{% endblock header %}
{% block content %}
    {% if form.errors %}
        <p>
            username and password didnt match
        </p>
    {% else %}
        <form method="post" action="{% url 'users:login' %}" class="form">
            {% csrf_token %}
            {% bootstrap_form form %} 
            <button name="submit" class="btn btn-primary">login</button>
            <input type="hidden" name="next" value="{% url 'blogs:home' %}"/>
        </form>
    {% endif %}
{% endblock content %}