{% extends "base.html" %}
{% load bootstrap5 %}
{% block title %}
    Home
{% endblock title %}
{% block header %}
    <h1>Blogs</h1>
{% endblock header %}

{% block content %}

{% include '_partials/messages.html' %}

    {% for post in blogs %}
        <li>
            <h2><a class="nav-link" href="{% url 'blogs:my_post' post.id %}">{{ post.title }}</a></h2>
            <p class="text-muted"> by {{ post.owner.username }}</p>
            <hr>
        </li>
            
            <p>{{ post }}</p>
       
    
    {% empty %}
        <li>
            no blogs has been added
        </li>
    {% endfor %}
    </ul>
{% endblock content %}